
body, html {
  background-color: #cde9f4;
  margin: 0;
  padding: 0;
}

/* ---------- header ---------- */
header {
  display: flex;
  justify-content: center
}
.logo {
  display: flex;
  align-items: center;
}
.name-salon {
  font-family: "Ramona-Bold";
  color: #21608f;
  font-size: 28px;
}
.name-salon:hover, .work-time a:hover {
  color: #1e3c53;
}
.head-container a {
  text-decoration: none;
}
.work-time, .work-time a{
  font-family: "Ramona-Bold";
  color: #21608f;
  margin-top: 8px;
}
.head-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.adress {
  display: flex;
  font-family: "Ramona-Bold";
  color: #21608f;
  font-size: small;
  align-items: center;
}
/* ---------- my profi ---------- */

.master-subscribe {
	position: fixed;
	width: 111px;
	height: 111px;
	right: 25px;
	bottom: 45px;
	z-index: 9;
	transition: all .3s;
	animation: bounce 2s linear 2s infinite alternate;
}
.master-subscribe:hover {
	animation: none;
	transform: scale(1.1);
}
.master-subscribe img {
  width: 100%;
  height: 100%;
  display: block;
}
@-webkit-keyframes bounce {
	0%, 20%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}
@keyframes bounce {
	0%, 20%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}


@font-face {
  font-family: "Ramona-Bold"; 
  src: url("./fonts/Ramona/Ramona-Bold.ttf") format("truetype"); 
} 

/* ---------- head-navbar ---------- */

.head-navbar {
  width: 100%;
  background-color: #07141a;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu {
  width: 1000px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ---------- main-container ---------- */

.main-container {
  margin: 2%;
  display: flex;
  justify-content: center;
}
.content-block {
  width: 1108px;
  height: 100%;
  border: 1px solid black;
}
.content {
  box-sizing: border-box;
  padding: 20px 50px;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ---------- footer ---------- */

footer {
  
  width: 100%;
  height: 80px;
  background-color: #07141a;
}
.footer-nav {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: baseline;
}